@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white" style="background-color:#9a8c98">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="Images/@item.ImagePath" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Cinema: </b>@item.Cinema.Name</p>
                            <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                @if(!User.IsInRole("Admin"))
                                {
                                <form method="post" asp-controller="CartItem" asp-action="AddItem" class="d-inline">
                                    <input type="hidden" name="movieId" value="@item.Id" />
                                    <button type="submit" class="btn text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                                        style="background-color: #A076F9">
                                        <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                                    </button>
                                </form>
                                    
                                }
                                <div class="d-flex justify-content-between mt-2">
                                    <a class="btn  float-right" asp-action="Details" asp-route-id="@item.Id" style="color: #A076F9">
                                        Show Details
                                    </a>

                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <form method="post" asp-action="Delete" id="popupContainer" class="d-inline">
                                            <input type="hidden" name="movieId" value="@item.Id" />
                                            @*<button type="submit" class="btn btn-danger">Remove</button>*@
                                            <button class="delete-movie" data-movie-id="@item.Id" data-bs-toggle="modal" data-bs-target="#popup">Delete</button>
                                            @await Html.PartialAsync("_DeleteErrorPopup")
                                        </form>
                                    }

                                </div>

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".delete-movie").click(function(event) {
            event.preventDefault(); 

            var deleteButton = $(this);
            var movieId = deleteButton.data("movie-id");
            $("#popup").hide();

            deleteButton.prop("disabled", true);

            $.ajax({
                url: "/Movie/Delete",
                type: "POST",
                data: { movieId: movieId },
                success: function(response) {
                    if (response.isInCart) {
                        $("#popup").show();
                    } else {
                      
                        window.location.href = "/Movie";
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
                complete: function() {
                
                    deleteButton.prop("disabled", false);
                }
            });
        });

        $("#close-popup").click(function() {
            
            $("#popup").hide();
        });
    });

    $.ajax({
        url: '@Url.Action("AddItem", "CartItem")',
        type: 'POST',
        data: { movieId: movieId },
        success: function (result) {
            $('.badge').text(result.cartItemCount);
        }
    });
</script>
